@charset 'utf';

* {
    padding: 0;
    margin: 0;
}

ol, ul {
    list-style: none;
    color: 41280B;
}

a {
    text-decoration: none;
    color: #41280B;
}

p {
    color: #41280B;
}

span {
    color: #41280B;
}

h2 {
    color: #41280B;
}

img {
    vertical-align: bottom;
}

body {
    background-color: #FFF1E2;
    font-size: 16px;
    width: 1440px;
    margin: 0 auto;
}

/* 큰제목 */
.name {
    font-size: 30px;
    text-align: center;
    color: #41280B;
}



/* 더보기 버튼 */
.btn {
    background-color: #EDD9C4;
    border-radius: 50px; 
    font-size: 14px;
    padding: 5px 10px;
    display: inline-block;

}




/* 헤더 */
header{
    display: flex;
    width: 100%;
    padding: 20px 0;
    justify-content: center;
    align-items: center;
} 

header img{
    width: 180px;
    height: 50px;
    margin-right: 50px;
}

.nav {
    text-align: center;
    margin-right: 50px;
}

.nav ul {
    width: 950px;
    display: flex; 
    border-radius: 50px; 
    background-color: #EDD9C4;
    justify-content: space-around;
}

.nav a {
    font-size: 18px;
    display: block;
    padding: 15px;
    border-radius: 10px;
}

.util {
    text-align: center;
}

.util ul {
    display: flex;
}

.util li:nth-child(2) {
    border-radius: 30px; 
    background-color: #C6AD97;
}

.util a {
    display: block;
    font-size: 16px;
    padding: 15px;
}






/* 메인 */
.heroBox {
    position: relative;
}

.hero {
    position: absolute;
    left: 0;
    margin-left: 200px;
} 

.hero h2 {
    font-size: 70px;
    color: #183811;
}

.main_Img{

}


.main_Img .img{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:780px;
    
}

.main_Img .img img{max-width: 100%;}

.mainTxt {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 200px;
    
}

.mainTxt h2 {
    font-size: 70px;
    color: #183811;
}

.mainTxt h4 {
    font-size: 40px;
    color: #183811;
}

.mainTxtg p {
    font-size: 20px;
}

.mainTxt{
    text-align: right;
}





/* 박물관안내 */
.section1 .name {
    margin-bottom: 100px;
    margin-top: 80px;
}

.wrap {
    
}

.infoBox {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.notice {
    width: 40%;
    padding-right: 250px;
    padding-left: 20px;
}

.notice h2 {
    text-align: center;
    padding-bottom: 50px;
}

.notice ul {

}

.notice li a{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    border-bottom: #000 1px dashed ;
    padding-bottom: 10px;
}

.notice span {
    
}




.info {
    width:  40%;
}
.info h2 {
    text-align: center;
    padding-bottom: 50px;
}
.info ul {}
.info li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    border-bottom: #000 1px dashed ;
}
.info a {
    margin-bottom: 10px;
}
.info span {
    
}





.news {
    width: 40%;
    padding-right: 250px;
    padding-left: 20px;
}
.news h2 {
    text-align: center;
    padding-top: 70px;
    padding-bottom: 50px;
}
.news ul {}
.news li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    border-bottom: #000 1px dashed ;
}
.news a {
    margin-bottom: 10px;
}
.news span {}




.review {
    width: 40%;
    padding-bottom: 150px;
}
.review h2 {
    text-align: center;
    padding-top: 70px;
    padding-bottom: 50px;
}
.review ul {}
.review li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    border-bottom: #000 1px dashed ;
}
.review a {
    margin-bottom: 10px;
}
.review span {}





/* 박물관소개 */

.section2 .name {
    margin-bottom: 70px;
}
.coffeeBox {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 50px;
}

.coffeeBox img {
    width: 600px;
    height: 600px;
    border-radius: 300px;
}

.coffeeBox p {
    height: 100px;
    padding-top: 30px;
}

.coffeeBox h2 {
    margin-bottom: 50px;
}



/* 체험안내 */

.section3 .name {
    margin-bottom: 90px;
    margin-top: 60px;
}
.experience {
    
}

.experience img{
    width: 600px;
    height: 300px;
    padding-left: 60px;
}

.experience p{
    position: absolute;
    right: 80px;
    bottom: 20px;
}

.experience ul {
    display: flex;
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    justify-content: center;
}

.experience p{
    text-align: right;
}

.experience span{
    display: block;
    margin-bottom: 15px;
}

.experience strong {
    display: block;
    font-size: 25px;
    margin-bottom: 15px;
}

.experience li {
    position: relative;

}
.experience a {
    color: #41280B;
    font-size: 20px;
}

.experience li:nth-child(1) {
    width: 50%;
    
}
.experience li:nth-child(2) {
    width: 50%;
}
.experience li:nth-child(3) {
    width: 50%;
    margin-top: 80px;
}








/* 체험예약 */

.section4 .name {
    margin-bottom: 70px;
    margin-top: 90px;
}

.section4 .title {
    
}

.section4 .title h4{
    
}

.section4 .title p{
    
}

.section4 .titleBox {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.section4 .oneBox {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 1000px;
    border: #EDD9C4;
    border-radius: 60px;
    background-color: #EDD9C4;
    padding: 20px;
}

.section4 .oneBox li {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.section4 .oneBox a {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100px;
    height: 30px;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 60px;
    margin-left: 10px;
}
.section4 .oneBox a i {
    padding-right: 10px;
    font-size: 25px;
}

.section4 .twoBox {
    display: flex;
    font-size: 18px;
    margin-left: 30px;
}

.section4 .twoBox li:nth-child(1){
    background-color: #EDD9C4;
    padding: 20px;
    border: 1px solid #EDD9C4;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}

.section4 .twoBox li:nth-child(2){
    padding: 20px;
    background-color: #E2CEB9;
    border: 1px solid #EDD9C4;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}

.section4 .oneBox ul {
    display: flex;
    justify-content: space-between;
    
}








