@charset 'utf-8';

* {
    padding: 0;
    margin: 0;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

img {
    vertical-align: bottom;
}








/* --------------------------------------헤더설정-------------------------------------- */
.logo {
    font-size: 30px;
}





/* --------------------------------------네비설정-------------------------------------- */
.box2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.GNB ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.GNB li {
    display: block;
}

.GNB a {
    display: block;
    padding: 15px;
    font-size: 14px;
}





/* --------------------------------------메인이미지설정-------------------------------------- */
.Top_img {
    max-width: 100%;
}





/* --------------------------------------공지사항설정-------------------------------------- */
.notice {
    padding: 20px;
    border: solid 5px #dddddd;
}

.notice h2 {
    margin-bottom: 5px;
    font-size: 19px;
    color: #666;
}

.notice a {
    color: #666;
    display: block;
    padding: 5px;
    font-size: 14px;
    border-bottom: dotted 2px #ddd;
}

.notice a::after {
    content: "";
    display: block;
    clear: both;
}

.notice time {
    float: left;
}

.notice .txt {
    float: none;
    margin-left: 40px;
    padding-left: 10px;
}


/* --------------------------------------sns설정-------------------------------------- */
.SNS h2 {
    font-size: 14px;
    background-color: #ddd;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
}

.SNS li:nth-child(1) a {
    background-color: #63bafb;
}

.SNS li:nth-child(2) a {
    background-color: #5288f7;
}

.SNS li:nth-child(3) a {
    background-color: #f65d4a;
}

.SNS a {
    display: block;
    font-size: 14px;
    padding: 10px;
    margin-bottom: 10px;
    color: #fff;
    border-radius: 5px;
}


/* 말풍선 */
/* https://cssarrowplease.com/ */

.SNS h2 {
    position: relative;
    background: #dddddd;
}

.SNS h2:after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(221, 221, 221, 0);
    border-top-color: #dddddd;
    border-width: 15px;
    margin-left: -15px;
}




/* --------------------------------------데이터설정-------------------------------------- */

.box6 h2{
    padding: 10px;
    font-size: 20px;
    background-color: #000;
    color: #fff;
}

.box6 i{
    font-size: 50px;
    padding: 50px;
    display: block;
}

.box6 a {
    display: block;
    text-align: center;
    background-color: #000;
    color: #fff
}

.box6 p {
    padding: 15px 0;
    background-color: #524e3c;
    font-size: 12px;
}


.box6-1 i {
    background-color: #bfbd13;
}

.box6-2 i {
    background-color: #c58839;
}

.box6-3 i {
    background-color: #859f46;;
}





/* --------------------------------------푸터설정-------------------------------------- */
.box5 {
    background-color: #ddd;
    padding: 15px 0;
}

.Copyright p {
    font-size: 14px;
}





/* --------------------------------------여백설정-------------------------------------- */
.box_A {
    padding: 8px 10px;
}

.box4 {
    padding: 15px 10px;
}

.box6 {
    padding-top: 25px;}

.data>div {
    padding-bottom: 5px;}







/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@미디어쿼리@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

/* --------------------------------------786px 이상-------------------------------------- */
@media(min-width:786px) {
/* --------------------------------------레이아웃설정-------------------------------------- */
    .box_A {
        display: flex;
    }

    .box_A>div {
        width: 50%;
    }

    .box2 {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .GNB ul {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .box6 {
        width: 100%;
    }
    
    .data {
        display: flex;
        justify-content: space-between;
    }
    
    .data>div {
        width: 32%;
    }
    

/* --------------------------------------박스4, 4-1 가로정렬-------------------------------------- */
    .box4 {
        display: flex;
    }
    
    .box4-1 {
        width: 70%;
        padding-right: 35px;
        box-sizing: border-box;
    }
    
    .box4-2 {
        width: 30%
    }

}




/* --------------------------------------와이드데스크탑-------------------------------------- */
@media(min-width:1280px) {

    .box_A,
    .Copyright,
    .box3,
    .box4, 
    .box6{
        width: 1140px;
        margin: 0 auto;
    }

    .box_A_OUT {
        border-bottom: solid 1px #666;
        padding: 8px;
        margin-bottom: 15px;
    }
}